/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Geonis report CSS */
body {
    margin: 0;
    padding: 0;
    color: #000;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    /*font-family: 'Open Sans', Arial, Helvetica, sans-serif;*/
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.7em;
    background-color: #ffffff;
    /*background-image: url(images/body.jpg); */
    background-repeat: repeat-x;
    background-position: top;
	overflow-x: hidden;
}
a, a:link, a:visited {
    color: #0099FF;
    font-weight: 400;
    text-decoration: none;
}
a:hover {
    color: #CC9933;
    text-decoration: underline;
}
p {
    margin: 0 0 10px 0;
    padding: 0;
}
img {
    border: none
}
em {
    color: #000;
    /*font-weight: bold;*/
    font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: normal;
}
h1 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 5px 0;
}
.cleaner {
    clear: both
}

#body_wrapper {
    width: 100%;
}
#wrapper {
    width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
#header {
    width: 100%;
    height: 34px;
    padding-left: 10px;
    /*background-color: #0489B1;*/
    background-color: #086A87;
    /*background-color: blue;*/
    background: url('../images/geonis-topbar.png') repeat-x;
    color: #fff;
}
#geonis {
    position: absolute;
    top: 4px;
    left: 15px;
    font-size: 200%;
    line-height: 22pt;
    color: #fff;
/*    border: 1px solid #fff;*/
	border-left: 2px solid #1659AC;
	border-right: 2px solid #1659AC;
	border-bottom: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
	/*background-color: #0B614B;*/
	background: url('../images/geonis-topbar.png') repeat-x;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    text-shadow: #1659AC 0px 1px 3px;
}
#pid {
    color: #fff;
    font-size: 155%;
    /*text-shadow: 1px 1px #6E6E6E;*/
    text-shadow: #1659AC 0px 1px 3px;
    border: none;
    float: right;
    clear: right;
    margin: 0;
	padding-top: 4px;
	margin-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 100%;
    display: inline;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#report-wrapper {
	float: left;
	display: none;
	padding: 0 17px 5px 12px;
	margin-top: 10px;
	border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
}
.banner {
	float: left;
	font-size: 14px;
	color: #000;
    line-height: normal;
}
.banner h2 {
	text-align: center;
	color: #fff;
	margin: 0 0 5px 0;
    padding: 8px 0;
	font-size: 22px;
    font-weight: bold;
}
.banner h3 {
	text-align: center;
	color: #fff;
	margin: 0 0 5px 0;
    padding-top: 3px;
	font-size: 18px;
    font-weight: bold;
}
.banner p {
/*	margin-left: 25px;*/
}
.banner ul li {
/*    margin-left: 25px;*/
}
.banner a {
	color: #0B2161;
}

#workflow-info {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
.entity {
    font-weight: bold;
}
.entity-name {
    font-size: 115%;
    color: #0B2161;
}
.entity-name:hover {
    background-color: #CEECF5;
}
hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#footer_wrapper {
    width: 100%;
    position: absolute;
    bottom: 32px;
}
#footer-outer {
	position: absolute;
	left: 50%;
}
#footer {
    width: 960px;
    text-align: center;
    border: 1px solid #ccc;
    height: 26px;
    padding: 4px 0 0;
    margin: 0 auto;
    background: #FAFAFA;
    color: #000;
    position: relative;
	left: -50%;
	bottom: 0;
    overflow: hidden !important;
}
#footer a {
	color: #0B2161;
}

#linkbar {
    margin-top: 10px;
    text-align: center;
    display: none;
}
#linkbar li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}
#linkbar li:hover {
    background-color: #CEECF5;
}
#linkbar a:hover {
    text-decoration: none;
}
#service-links p {
	display: inline-block;
	margin: 0;
}
#service-links > li {
	padding: 0;
	margin: 10px 0;
	border-top: 1px solid #ccc;
}
#map-service, #image-service {
	font-size: 115%;
}
/*#map-service, #image-service, #view-map, #view-image {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
}
#map-service a, #image-service a, #view-map a, #view-image a {
    font-size: 115%;
}*/
#vector-report-header {
    display: none;
    background-color: #086A87;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#raster-report-header {
    display: none;
    background-color: #086A87;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
#raster-banner, #vector-banner {
    display: none;
    padding-bottom: 5px;
}
#welcome-message {
    margin-top: 10px;
    font-size: 107%;
}
#package-report {
	margin-top: 10px;
	font-size: 100%;
}
#package-report ul {
	list-style-type: none;
}
#package-report ul li {
    padding-bottom: 5px;
}
#package-report .package-title {
    font-size: 115%;
}
#package-report, #vector-entities, #raster-entities ul li:last-child {
	padding-bottom: 10px;
}
#package-report .report-table {
    width: 100%;
}

.report-wrapper {
	margin-top: 10px;
}
.report-wrapper ul li {
	padding-bottom: 5px;
}
.report-wrapper ul li:last-child {
	padding-bottom: 10px;
}
.report-table-header {
	font-size: 105%;
}
.report-table {
	width: 100%;
	border: 1px solid #BDBDBD;
	background-color: #EFF8FB;
}
.report-table td, th {
    text-align: left;
    padding: 0 2px;
}
.report-table th {
    font-size: 110%;
    border-bottom: 1px solid #ccc;
	background-color: #CEECF5;
}
.report-table td {
    font-size: 100%;
}
.report-table p {
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

/* push */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}

/* Lightbox CSS */
.try { 
    width: 93px;
    height: 31px;
    background-position: -30px -156px;
}
.try:hover {
    background-position: -30px -187px;
}
.try:active {
    background-position: -30px -218px;
}
.white {
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
}
.hover-item {
    position:relative;
    cursor:pointer;
}
.hover-item span {
    display:none;
    position:absolute;
    top:-25px;
    left:-200px;
    z-index:1;
    width:170px;
    padding:10px;
    border:1px solid #630;
    background-color:#fff;
    box-shadow:1px 1px 1px #999;
    font-size:75%;
    color:#630;
    cursor:default;
    font-weight:normal;
}
.hover-item:hover span {
    display:block;
}
/* Lightbox */
#map-lightbox {
    left: 15px;
    top: 195px;
    width: 70%;
    height: 500px;
    display: none;
    font-size: 11pt;
    position: absolute;
    border: 1px solid #777;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #fff;
}
#map-lightbox a {
    color: #000;
}
.close-button {
    float: right;
    text-align: right;
}

#welcome-message {
	line-height: 16pt;
	display: none;
	float: left;
	margin: 20px;
	padding: 0;
	text-align: justify;
}

/* Arc JS map */
#map {
    width: 100%;
    margin: 0;
    padding: 0;
}
#map-block {
	float: left;
    margin: 0;
    padding: 0;
}
#scale {

	display: none;
}

#active-layers {
    position: absolute;
    bottom: 0;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
}
#active-layers table {
	text-align: left;
	width: 100%;
}
#active-layers th {
	/*font-weight: bold;*/
	padding: 0 0;
	font-size: 95%;
	border-bottom: 1px solid #ccc;
}
#active-layers td {
	font-size: 90%;
}
#active-layers ul {
	padding: 10px 20px 5px 20px;
}
#active-layers .detail-title {
	font-size: 105%;
	padding: 5px 0 10px 0;
}
#active-layers .detail-sourceloc {
	padding: 10px 0;
}
#active-layers a, a:visited {
	color: #0B2161;
}
#active-layers a:hover {
	color: #2E9AFE;
}
#active-layers p {
	line-height: 17px;
}
#active-layers .detail-box {
	border: 1px solid #ccc;
	background-color: #EFF8FB;
}
#active-layers .detail-box ul {
	line-height: 15px;
}
#active-layers .detail-box img {
	float: right;
	padding: 10px 10px 0 0;
	cursor: pointer;
}
#active-layers .detail-box hover {
	float: right;
	padding: 10px 10px 0 0;
	width: 22px;
	height: 22px;
}

/* Link grid */
#leftbar-wrapper {
    float: left;
    width: 200px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    background-color: #fff;
}
.leftbar-grid {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    padding-top: 5px;
    color: #000;
    line-height: normal;
    text-align: center;
    background-color: #fff;
}
.leftbar-grid h3 {
    color: #000;
    padding-bottom: 5px;
    font-size: 18px;
}
.leftbar-grid ul li:hover {
    background-color: #CEECF5;
}
.leftbar-grid a {
    color: #0B2161;
}
.leftbar-grid a:hover {
    text-decoration: none;
}

.sidebar {
    position: absolute;
    right: 0;
    background-color: #fff;
    top: 0;
    width: 57px;
    z-index: 100000;
}
.sidebar ul li:hover {
    background-color: #CEECF5;
}
.sidebar a {
    color: #000;
}
.sidebar a:hover {
    text-decoration: none;
}
#lter-links {
    width: 55px;
    border: 1px solid #BDBDBD;
}
#lter-links li {
    background-color: #EFF8FB;
    list-style-type: none; 
    font-size: 10pt;
    padding: 0;
    margin: 0;
    display: inline-block;
    line-height: 200%;
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    text-align: center;
}
#lter-links li:last-child {
    border: none;
}
#lter-links li.selected {
	background-color: #CEECF5;
    border-top: 1px solid #CEECF5;
}
.selected {
    background-color: #CEECF5;
}

.leftbar-menu {
    overflow: auto;
}

#basemap-gallery-container {
	position: absolute;
	right: 65px;
	top: 40px;
	z-index: 999;
	display: none;
}

/* LTER full name popup */
#lter-links span {
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #BDBDBD;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    color: #000;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: -2px;
    right: 0;
    display: none;
    padding: 0 20px;
    white-space: nowrap;
    border-radius: 3px;
}
#lter-links p {
	margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}
#lter-links p:hover span {
    display: block;
    z-index: 100;
}

/* Layer show/hide */
#layer-checks .show-layer, #image-checks .show-layer {
	background-color: #CEECF5;
	margin-top: 5px;
}
#layer-checks-title, #image-checks-title, #site-report-title {
	font-size: 115%;
}
/*#layer-checks-title a:hover {
	color: #086A87;
}*/
#layer-checks, #image-checks, #site-report {
	display: none;
}
#layer-checks ul, #image-checks ul, #site-report ul {
    /*border-bottom: 1px solid #ccc;*/
    padding: 5px 0 0 0;
}
#layer-checks ul li, #image-checks ul li, #site-report ul li {
    /*border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    line-height: 18pt;
    background-color: #fff;
    color: #0B2161;
}
#layer-checks ul li:hover, #image-checks ul li:hover, #site-report ul li:hover {
    background-color: #EFF8FB;
}
#layer-checks a, #image-checks a, #site-report a {
    color: #0B2161;
    font-size: 90%;
}
#layer-checks a:hover, #image-checks a:hover, #site-report a:hover {
    text-decoration: none;
}
.drop-down-font {
	font-size: 90%;
}

.hidden {
	display: none;
}

/* Layername popup */
#layer-checks span {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    color: #000;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: -35px;
    left: -45px;
    display: none;
    padding: 0 20px;
    border-radius: 3px;
}
/*#layer-checks p {
	margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
}
#layer-checks p:hover span {
    display: block;
    z-index: 100;
}*/
